<div class="container-fluid background-layout-login">
  <div class="row align-items-center">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 align-self-center">
      <app-layout-login-header></app-layout-login-header>
      <div class="container-body">
        <div class="box-content">
          <div class="recuperar-contrasena-body">
            <h1 class="text-center">
              {{ titlePage }}
            </h1>
            <p class="text-center first-paragraph">
              {{ subTitlePage }}
            </p>
            <p class="text-center">
              {{ textPage }}
            </p>
            <p *ngIf="!stateVerification" class="text-center">
              Solicítalo <span (click)="onSendEmail()">aquí</span> o
              <span [routerLink]="['/login']">inicia sesión.</span>
            </p>
            <p *ngIf="stateVerification" class="text-center">
              <span [routerLink]="['/login']">inicia sesión.</span>
            </p>
          </div>
        </div>
      </div>
      <app-layout-login-footer></app-layout-login-footer>
    </div>
  </div>
</div>
