@import '../../../../../src/assets/styles/styles.scss';

.prueba-text {
  text-align: center;
  color: $blue-stupendo;
  font-size: 16px;
  font-family: 'Myriad Pro Regular';
  @media (min-width: $md) {
    margin-top: -40px;
    font-size: 21px;
  }
}
.form-registro {
  .registro {
    .row {
      min-height: auto;
      padding-top: 0;
      padding-bottom: 0;
    }
    .field {
      display: flex;
      flex-flow: column-reverse;
      position: relative;
      margin-top: 10px;
      label,
      input {
        transition: all 0.2s;
        touch-action: manipulation;
      }

      label {
        color: #999999;
      }

      input {
        z-index: 1;
        background: transparent;
      }

      input:placeholder-shown + label {
        cursor: text;
        max-width: 66.66%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transform-origin: left bottom;
        transform: translate(10px, 31px) scale(1.2);
        font-size: 12px;
        @media (min-width: $md) {
          transform-origin: left center;
          transform: translate(10px, 30px) scale(1.2);
        }
      }

      ::-webkit-input-placeholder {
        opacity: 0;
        transition: inherit;
      }

      ::-moz-placeholder {
        opacity: 0;
        transition: inherit;
      }

      input:focus::-webkit-input-placeholder {
        opacity: 1;
      }

      input:focus::-moz-placeholder {
        opacity: 1;
      }

      input:not(:placeholder-shown) + label,
      input:focus + label {
        transform: translate(10px, 0) scale(1);
        cursor: pointer;
        color: $blue-stupendo;
      }
      img {
        width: 18px;
        height: 19px;
        position: absolute;
        bottom: 10px;
        right: 15px;
        z-index: 1;
        cursor: pointer;
      }
    }

    h1 {
      margin: 0;
      font-size: 16px;
      line-height: 19px;
      color: $blue-stupendo;
      text-align: center;
      font-family: 'Myriad Pro Regular';
      @media (min-width: $md) {
        font-size: 20px;
        line-height: 21.6px;
      }
    }
    input,
    select {
      margin: 0;
      display: block;
      width: 100%;
      border: 1px solid $blue-stupendo;
      text-decoration: none;
      border-radius: 17px;
      color: $blue-stupendo;
      font-size: 13px;
      line-height: 16px;
      padding: 10px 8px;
      @media (min-width: $md) {
        font-size: 14px;
        line-height: 19px;
      }
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #999999;
      }
    }

    ul {
      margin-bottom: 0;
      margin-top: 5px;
      padding-left: 15px;
      li {
        color: #808080;
        font-size: 12px;
        line-height: 11px;
        text-align: left;
      }
    }

    select {
      margin-top: 24px;
      background-image: linear-gradient(
          45deg,
          transparent 50%,
          $blue-stupendo 50%
        ),
        linear-gradient(135deg, $blue-stupendo 50%, transparent 50%);
      background-position: calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
    }
    button {
      font-family: 'Myriad Pro Regular';
      display: block;
      width: 100%;
      border-radius: 17px;
      background-color: $blue-stupendo;
      font-size: 18px;
      color: #ffffff;
      letter-spacing: 1.8px;
      line-height: 21.6px;
      margin-top: 30px;
      margin-bottom: 30px;
      border: none;
      padding: 10px 0;
    }
    p {
      text-align: center;
      line-height: 16.8px;
      font-size: 14px;
      color: $blue-stupendo;
      span {
        color: $turquoise-stupendo;
        cursor: pointer;
        text-decoration: underline;
      }
      @media (min-width: $md) {
        font-size: 16px;
      }
    }
    .text-danger {
      margin-top: 5px;
      display: flex;
      align-items: center;
      font-size: 10px;
      line-height: 12px;
      color: #c1272d;
      img {
        padding: 0 3px;
      }
      @media (min-width: $md) {
        font-size: 12px;
      }
    }
  }
}
