<div class="container-fluid background-layout-login">
  <div class="row align-items-center">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 align-self-center">
      <app-layout-login-header></app-layout-login-header>
      <div class="container-body">
        <div class="box-content">
          <form
            class="form-login"
            [formGroup]="loginForm"
            (ngSubmit)="onLogin(f, content)"
            #f="ngForm"
          >
            <div class="login">
              <h1>Inicia sesión en tu cuenta</h1>
              <div class="row">
                <div class="col">
                  <div class="field">
                    <input
                      class="email"
                      type="email"
                      name="email"
                      formControlName="email"
                      required
                      email
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                      placeholder="test@test.com"
                    />
                    <label for="email">Correo electrónico</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="field">
                    <input
                      name="password"
                      [type]="showPassword ? 'text' : 'password'"
                      formControlName="password"
                      required
                      placeholder="prueba123"
                    />
                    <label for="password">Contraseña</label>
                    <img
                      (click)="setShowPassword()"
                      [src]="
                        showPassword
                          ? 'assets/images/general/close-eye.svg'
                          : 'assets/images/general/open-eye.svg'
                      "
                      alt="open-eye"
                    />
                  </div>
                </div>
              </div>
              <div class="errors">
                <div
                  *ngIf="
                    f.submitted &&
                    (loginForm.controls['email'].hasError('required') ||
                      loginForm.controls['password'].hasError('required'))
                  "
                  class="text-danger"
                >
                  <img
                    src="assets/images/general/error-message-icon.svg"
                    alt="error"
                  />
                  Campos obligatorios vacíos
                </div>
                <div *ngIf="verified" class="text-danger">
                  <img
                    src="assets/images/general/error-message-icon.svg"
                    alt="error"
                  />
                  Correo electrónico no verificado. Revisa tu bandeja de entrada
                  y valida tu cuenta
                </div>
                <div *ngIf="errorAuth" class="text-danger">
                  <img
                    src="assets/images/general/error-message-icon.svg"
                    alt="error"
                  />
                  Correo o contraseña incorrecto
                </div>
                <div *ngIf="manyRequestError" class="text-danger">
                  <img
                    src="assets/images/general/error-message-icon.svg"
                    alt="error"
                  />
                  El acceso a esta cuenta se ha desactivado temporalmente
                </div>
                <div
                  *ngIf="
                    f.submitted &&
                    loginForm.controls['email'].hasError('pattern')
                  "
                  class="text-danger"
                >
                  <img
                    src="assets/images/general/error-message-icon.svg"
                    alt="error"
                  />
                  Introduce un correo electrónico válido
                </div>
              </div>
              <label
                class="recuperar-contrasena"
                [routerLink]="['/recuperar-contrasena']"
                for="password"
                >¿No recuerdas la contraseña?</label
              >
              <button type="submit">Continuar</button>
              <p>
                ¿No tienes cuenta?
                <span [routerLink]="['/registro']">Regístrate aquí</span>
              </p>
            </div>
          </form>
        </div>
      </div>
      <app-layout-login-footer></app-layout-login-footer>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4
      class="modal-title text-center"
      id="modal-basic-title"
      *ngIf="!chargeImg"
    >
      ¡Ooops!
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="chargeImg">
    <div class="chargeImage">
      <img src="assets/images/general/charge-dec.gif" alt="charge" />
    </div>
  </div>
  <div class="modal-body" *ngIf="!chargeImg">
    <p class="text-center sub-title">Correo electrónico no verificado.</p>
    <p class="text-center">
      ¿Necesitas un nuevo link de activación?
      <br />
      Solicítalo <span (click)="onSendEmail()">aquí</span>
    </p>
  </div>
</ng-template>
