<!--
<div class="container-body">
  <form>
    <h3>Bienvenido: {{ user?.email }}</h3>
    <p>Home Page</p>
    <br />
    <button class="btn-primary" (click)="onLogout()">Cerrar Sesión</button>
  </form>
</div>
-->
<mat-sidenav-container>
  <mat-sidenav opened="true" mode="side">
    <fury-scrollbar class="sidenav-items" fxFlex="auto">
      <div class="sidenav-user">
        <img
          class="sidenav-user-image"
          src="../../../assets/images/general/perfil-default.png"
        />

        <h5 class="sidenav-user-email">bryan.farinango@epn.edu.ec</h5>

        <div class="sidenav-user-icons" fxLayout="row">
          <a mat-icon-button>
            <mat-icon>assignment</mat-icon>
          </a>
          <a mat-icon-button>
            <mat-icon>date_range</mat-icon>
          </a>
          <a mat-icon-button>
            <mat-icon>exit_to_app</mat-icon>
          </a>
        </div>
      </div>
      <app-admin-menu></app-admin-menu>
    </fury-scrollbar>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-admin-header></app-admin-header>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
