@import '../../../assets/styles/styles.scss';
.container-fluid {
  background-color: white;
}
.clickable {
  cursor: pointer;
}
table.mat-table {
  border-spacing: 0;
  width: 100%;
}
.header-button {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}
.login-button {
  margin-right: 70px;
  background-color: $blue-stupendo;
  height: 50px;
}
